<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WafTraffic.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>

  <connectionStrings>
    
    <add name="yctrafficEntities" connectionString="metadata=res://*/TrafficModel.csdl|res://*/TrafficModel.ssdl|res://*/TrafficModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CNQINN0425B77L\SQLEXPRESS;Initial Catalog=yctrafficdb;User ID=yctraffic;Password=;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    
<!--
    <add name="yctrafficEntities" connectionString="metadata=res://*/TrafficModel.csdl|res://*/TrafficModel.ssdl|res://*/TrafficModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ip;Initial Catalog=yctrafficdb;User ID=yctraffic;Password=;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
-->
    
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <applicationSettings>
    <WafTraffic.Presentation.Properties.Settings>
      <setting name="ModuleAssemblies" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>WafTraffic.Reporting.Applications.dll</string>
            <string>WafTraffic.Reporting.Presentation.dll</string>
          </ArrayOfString>
        </value>
      </setting>
    </WafTraffic.Presentation.Properties.Settings>
  </applicationSettings>

  
</configuration>
